.vs/BancardService/DesignTimeBuild/.dtbcache.v2
.vs/BancardService/FileContentIndex/116a475e-edc7-4581-a52b-a5e39d6bc469.vsidx
.vs/BancardService/FileContentIndex/6637fe76-79ec-4a92-8dee-8ad5393387cf.vsidx
.vs/BancardService/FileContentIndex/67519fe7-6f4f-4ffa-82ba-5e805db416c2.vsidx
.vs/BancardService/v17/.suo
Bancard.Main/bin/Debug/net7.0/Bancard.API.dll
Bancard.Main/bin/Debug/net7.0/Bancard.API.pdb
Bancard.Main/bin/Debug/net7.0/Bancard.Main.dll
Bancard.Main/bin/Debug/net7.0/Bancard.Main.pdb
Bancard.Main/obj/Debug/net7.0/Bancard.Main.csproj.AssemblyReference.cache
Bancard.Main/obj/Debug/net7.0/Bancard.Main.dll
Bancard.Main/obj/Debug/net7.0/Bancard.Main.pdb
BancardService/bin/Debug/net7.0/Bancard.API.dll
BancardService/bin/Debug/net7.0/Bancard.API.pdb
BancardService/obj/Debug/net7.0/Bancard.API.dll
BancardService/obj/Debug/net7.0/Bancard.API.pdb
BancardService/obj/Debug/net7.0/ref/Bancard.API.dll
BancardService/obj/Debug/net7.0/refint/Bancard.API.dll
